<ion-menu contentId="main-content">
  <ion-header>
    <div class="menu-header">
      <img src="../../assets/logo.svg" style="filter: invert(100%);" />
    </div>
  </ion-header>
  <ion-content class="ion-padding">
    <div class="menu-content" style="background-color: black;">
      <ion-item-group>
        <ion-item button="true" detail="false">
          <ion-label>Opção 1</ion-label>
        </ion-item>
        <ion-item button="true" detail="false">
          <ion-label>Opção 2</ion-label>
        </ion-item>
        <ion-item button="true" detail="false">
          <ion-label>Opção 3</ion-label>
        </ion-item>
        <ion-item button="true" detail="false">
          <ion-label>Opção 4</ion-label>
        </ion-item>
      </ion-item-group>
    </div>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <app-home-header [currentUser]="currentUser"></app-home-header>
  <ion-content class="ion-padding" style="--background: black;">
    <div class="ion-padding">
      <app-list-section [isLoading]="isLoadingTreinos" [firestore]="firestore" [itens]="treinos" sectionLabel="PERSONAL ONLINE" buttonLabel="NOVO TREINO" [isTreinos]="true"></app-list-section>
      <app-list-section [isLoading]="isLoadingProgramas" [firestore]="firestore" [itens]="programas" sectionLabel="PROGRAMAS"></app-list-section>
      <div class="conteudos-container">
        <h3>CONTEÚDOS</h3>
        <div class="conteudos">
          <div class="conteudo">
            <div class="orange-box"></div>
          </div>
          <div class="conteudo">
          </div>
        </div>
      </div>
      
    </div>
  </ion-content>
</div>